<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>학생 수강한 강의</title>
</head>
<body>
<h1>수강한 강의 목록</h1>

<section>
    <div class="list-box">
        <div th:if="${not #lists.isEmpty(stuLecture)}">
            <div th:each="entry : ${stuLecture}">
<!--                <a th:href="@{/lecture/detail(lecId=${entry.key})}">-->
                <a th:href="@{/lecture/detail(page=${currentPage}, no=${entry.key})}">
                <h3 th:text="${entry.value.lec_name}" class="title"></h3>
                    <p><span th:text="${entry.value.lec_day}"></span>&nbsp;&nbsp;<span th:text="${entry.value.lec_time}"></span></p>
                    <p>월 <span th:text="${entry.value.lec_price}"></span>만원</p>
                    <p><span th:text="${entry.value.lec_startdate}"></span> ~ <span th:text="${entry.value.lec_enddate}"></span></p>
                </a>
            </div>

        </div>
        <div th:if="${#lists.isEmpty(stuLecture)}">
            <p>수강한 강의가 없습니다.</p>
        </div>
    </div>
</section>
</body>
</html>