<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>loginForm</title>
</head>
<body>
<div>
    <a href="https://kauth.kakao.com/oauth/authorize?client_id=425f66c4214454a68dfaa2dc66f30387&redirect_uri=http://localhost:80/oauth/kakao/callback&response_type=code">
        <img src="/images/kakao_login_medium_narrow.png">
    </a>
    <a href="https://nid.naver.com/oauth2.0/authorize?response_type=code&client_id=mdKA6sN55zOmRKVIwSKl
&redirect_uri=http:localhost:80/oauth/naver/callback&state=1234">
        <img src="/images/btnG_naver.png">
    </a>
</div>
</body>
</html>