<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>로그인 폼</title>
    <script>
        function boardCheck() {
            var stuEmail = $.trim($("#stuEmail").val());
            if (stuEmail === "") {
                alert("아이디를 입력하세요");
                $("#stuEmail").val("").focus();
                return false;
            }
            if (!checkId(userId)) {
                alert("아이디는 4~12자 이내로 소문자와 숫자만 사용할 수 있습니다");
                $("#stuEmail").val("").focus();
                return false;
            }
            if ($.trim($("#stuPwd").val()) == "") {
                alert("비밀번호를 입력하세요");
                $("#stuPwd").val("").focus();
                return false;
            }
        }
    </script>
</head>
<body>
<div th:replace="~{header :: header}"></div> <!-- header.html 에서 header 태그 불러오기 -->
<form method="post" action="/student/login" onsubmit="return check()">
    아이디 <input type="text" id="stuEmail" name="stuEmail" placeholder="이메일을 입력하세요." /> <br/>
    비밀번호 <input type="text" id="stuPwd" name="stuPwd" /> <br/>
    <input type="submit" value="로그인" >
    <input type="button" value="회원가입" onclick="location='/student/join'">
    <input type="button" value="비밀번호 찾기" onclick="location='/student/findPwd'">
    <input type="button" value="마이페이지" onclick="location='/student/myPage'">

</form>

<div th:replace="~{footer :: footer}"></div> <!-- footer.html 에서 footer 태그 불러오기 -->
<div>
    <a href="https://kauth.kakao.com/oauth/authorize?client_id=425f66c4214454a68dfaa2dc66f30387&redirect_uri=http://localhost:80/oauth/kakao/callback&response_type=code">
        <img src="/images/kakao_login_medium_narrow.png">
    </a>
<!--    <a href="https://nid.naver.com/oauth2.0/authorize?response_type=code&client_id=mdKA6sN55zOmRKVIwSKl
&redirect_uri=http:localhost:80/oauth/naver/callback&state=1234">
        <img src="/images/btnG_naver.png">
    </a>-->
</div>
</body>
</html>