<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원정보수정</title>
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script>
        function boardCheck() {
            if ($.trim($("#stuNickname").val()) == "") {
                alert("닉네임을 입력하세요");
                $("#stuNickname").val("").focus();
                return false;
            }
            if ($.trim($("#stuPhone").val()) == "") {
                alert("핸드폰번호를 입력하세요");
                $("#stuPhone").val("").focus();
                return false;
            }
            if ($.trim($("#stuPwd").val()) == "") {
                alert("비밀번호를 입력하세요");
                $("#stuPwd").val("").focus();
                return false;
            }
        }
    </script>
</head>
<body>
<h2>회원정보변경</h2>
<form method="post" action="update" onsubmit="return boardCheck();">
    <input type="hidden" name= "stuEmail" value="${studentDto.stuEmail}">
    <input type="hidden" name="stuSocial" value="normal">
    <table>
        <tr>
            <th>이메일</th>
            <td>${studentDto.stuEmail}</td>
        </tr>
        <tr>
            <th>닉네임</th>
            <td><input type="text" name="stuNickname" id="stuNickname" value="${studentDto.stuNickname}" /></td>
        </tr>
        <tr>
            <th>핸드폰</th>
            <td>
                <input type="text" name="stuPhone" id="stuPhone" placeholder="ex) 01012345678"
                       maxlength="11" autocomplete="off" value="${studentDto.stuPhone}" />
            </td>
        </tr>
        <tr>
            <th>비밀번호 확인</th>
            <td><input type="password" name="stuPwd" id="stuPwd" /></td>
        </tr>
    </table>
    <div class="btns">
        <input type="submit" value="수정하기">
    </div>
</form>
</body>
</html>