<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원정보수정</title>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script>
        //핸드폰번호 자동하이픈 기능
        const autoHyphen = (target) => {
            target.value = target.value
                .replace(/[^0-9]/g, '')
                .replace(/^(\d{0,3})(\d{0,4})(\d{0,4})$/g, "$1-$2-$3").replace(/(\-{1,2})$/g, "");
        }
        function boardCheck() {
            if ($.trim($("#stuNickname").val()) == "") {
                alert("닉네임을 입력하세요");
                $("#stuNickname").val("").focus();
                return false;
            }
            if ($.trim($("#stuName").val()) == "") {
                alert("이름을 입력하세요");
                $("#stuNname").val("").focus();
                return false;
            }
            if ($.trim($("#stuPhone").val()) == "") {
                alert("핸드폰번호를 입력하세요");
                $("#stuPhone").val("").focus();
                return false;
            }
            const stuPhone = removeHyphen(document.getElementById("stuPhone").value);
            document.getElementById("stuPhone").value = stuPhone;
        }
    </script>
</head>
<body>
<h2>회원정보변경</h2>
<form method="post" action="update" onsubmit="return boardCheck();">
    <input type="hidden" name="stuEmail" value="${session.stuEmail }" />
    <input type="hidden" name="stuSocial" value="social">
    <table>
        <tr>
            <th>이메일</th>
            <td th:text="${session.stuEmail}">stuEmail</td>
        </tr>
        <tr>
            <th>이름</th>
                <td><input type="text" name="stuName" id="stuName" required th:value="${studentDto.stuName}" /></td>
        </tr>
        <tr>
            <th>닉네임</th>
            <td><input type="text" name="stuNickname" id="stuNickname" th:value="${studentDto.stuNickname}" /></td>
        </tr>
        <tr>
            <th>핸드폰</th>
            <td>
                <input type="text" name="stuPhone" id="stuPhone" maxlength="13" placeholder="ex) 01012345678"
                       oninput="autoHyphen(this)" pattern="010-[0-9]{3,4}-[0-9]{4}"
                       autocomplete="off" th:value="${studentDto.stuPhone}" />
            </td>
        </tr>
    </table>
    <div class="btns">
        <input type="submit" value="수정하기">
        <input type="button" value="뒤로가기" onclick="history.go(-1);">
    </div>
</form>
</body>
</html>