<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>리뷰 관리</title>
<style>
    .review_contents {
        position: relative;
        display: inline-block;
        width: 100%
    }
    .wrapper_small {
        width: 1150px;
        margin: 0 auto;
        position: relative;
    }
    .review_box_items {
        padding: 24px 10px;
        border-bottom: 1px solid #e5e5e5;
        position: relative;
    }
</style>
</head>
<body>
<div th:replace="~{header :: header}"></div> <!-- header.html 에서 header 태그 불러오기 -->


</body>
</html>