<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>강의 등록</title>
</head>
<body>
<div th:replace="~{header :: header}"></div> <!-- header.html 에서 header 태그 불러오기 -->

<form method="post" action="/teacher/lecJoin">
    <input type="hidden" name="tea_no" th:value="${teaNo}">
        <div class="form-group">
            <label>
                강의 이름 <span class="lec_name"></span>
                <input type="text" name="lec_name"/>
            </label>
        </div>
    <div>
        <fieldset>
        <legend> 강의 요일</legend>
            <label>월<input type="checkbox" name="lec_day" value="월"></label>
            <label>화<input type="checkbox" name="lec_day" value="화"></label>
            <label>수<input type="checkbox" name="lec_day" value="수"></label>
            <label>목<input type="checkbox" name="lec_day" value="목"></label>
            <label>금<input type="checkbox" name="lec_day" value="금"></label>
            <label>토<input type="checkbox" name="lec_day" value="토"></label>
            <label>일<input type="checkbox" name="lec_day" value="일"></label>
        </fieldset>
    </div>
    <div>
        <label>
            강의 시간 <input type="time" name="lec_time"/> - <input type="time" name="lec_time"/>
        </label>
    </div>
    <div>
        <label>
            강의 가격<input type="number" name="lec_price"/>
        </label>
    </div>
    <div>
        강의 내용: <textarea name="lec_detail" cols="" rows=""></textarea>
    </div>
    <div>
        <label>강의날짜
            <input type="date" name="lec_startdate"/> - <input type="date" name="lec_enddate"/>
        </label>
    </div>
    <div class="btns">
        <input type="submit" value="등록하기">
        <input type="button" value="뒤로가기" onclick="history.go(-1);">
    </div>
</form>

<div th:replace="~{footer :: footer}"></div> <!-- footer.html 에서 footer 태그 불러오기 -->

</body>
</html>