<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>톡톡스피킹</title>
    <style>
        .banner-wrap {color: #fff;}
        .banner-wrap .box {transition: background 0.3s;}
        .banner-wrap .box .inner {position: relative; padding: 80px;}
        .banner-wrap .box .inner .text {}
        .banner-wrap .box .inner .text h3 {font-size: 25px; font-weight: 400;}
        .banner-wrap .box .inner .text h2 {margin-bottom: 1em; font-size: 45px; font-weight: 600;}
        .banner-wrap .box .inner .text p {font-size: 20px; line-height: 1.3;}
        .banner-wrap .box .inner .img-box {position: absolute; right: 80px; bottom: -30px;}
        .banner-wrap .box .inner .img-box img {}
        .banner-wrap .box .btns-banner button {}
        .banner-wrap .box .btns-banner button i {color: #fff;}
    </style>
</head>
<body>
<div th:replace="~{header :: header}"></div>
<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<script src="https://code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<main>
    <section class="banner-wrap">
        <div class="box" style="background:linear-gradient(#ed9221, #f9bf75)">
            <div class="wrap inner">
                <div class="text">
                    <h3>1:1 화상 영어</h3>
                    <h2>무료수업 3회 체험</h2>
                    <p>1:1 원하는 커리큘럼 <br> 체험만 받아도 스벅 쿠폰</p>
                </div>
                <div class="img-box">
                    <a><img src="/images/banner01.jpg"></a>
                </div>
            </div>
        </div>
        <div class="paging">
            <div class="progress">

            </div>
            <!--<div class="btns-banner">
                <button class="btn-prev"><i class="fa fa-angle-left"></i></button>
                <button class="btn-next"><i class="fa fa-angle-right"></i></button>
            </div>-->
        </div>
    </section>
    <script>
        const h3List = ['1:1 화상 영어','낮시간대 수강 혜택','톡톡 X 카카오톡','카카오톡 플친해요!','리뷰 남기고'];
        const h2List = ['무료수업 3회 체험','해피아워 이벤트','대학생 수강료 할인','1만원 쿠폰 증정','네이버페이 포인트 받자!'];
        const pList = ['1:1 원하는 커리큘럼 <br> 체험만 받아도 스벅 쿠폰','낮시간대 수강하고<br> 최대 24% 할인 받자!',
            '대학교, 대학원에 재학중인<br> 톡학생증 인증 시, 수강료 최대 50% 할인','이제 카카오 채널에서 <br> 더 편리하게 상담 받으세요',
            '수강 중인 과정의 후기를 남겨주시면 <br> 네이버페이 포인트를 지급해드립니다'];
        const imgList = ['/images/banner01.jpg','/images/banner02.jpg','/images/banner03.jpg','/images/banner04.jpg','/images/banner05.jpg'];
        const gradientList = ['#ed9221, #f9bf75','#e94e76, #ff7d9f','#1253c9, #5388e8','#d4b62e, #ecd25d','#232323, #444444'];

        let index = 0;

        function updateContent() {
            $('.banner-wrap .box .inner .text h3').text(h3List[index]);
            $('.banner-wrap .box .inner .text h2').text(h2List[index]);
            $('.banner-wrap .box .inner .text p').html(pList[index]);
            $('.banner-wrap .box .inner .img-box img').attr('src', imgList[index]);
            $('.banner-wrap .box').css('background', 'linear-gradient(' + gradientList[index] + ')');

            index = (index + 1) % h3List.length;
        }

        setInterval(updateContent, 5000);
    </script>
    <section class="wrap">
        <h2 class="title">인기 TOP! 효과 <span class="color-main">톡톡히</span> 보는 강의</h2>
        <div class="list-box">
            <div th:each="list : ${lectureList}" class="list">
                <a th:href="@{/lecture/detail(page=1, no=${list.lec_no})}">
                    <h3 th:text="${list.lec_name}" class="title"></h3>
                    <p>매주 <span th:text="${list.lec_day}"></span></p>
                    <p>월 <span th:text="${list.lec_price}"></span>원</p>
                </a>
            </div>
        </div>
    </section>
    <section class="wrap">
        <h2 class="title">후기 TOP! 효과 <span class="color-main">톡톡히</span> 보는 선생님</h2>
        <div class="list-box">
            <div th:each="list : ${teacherList}" class="list">
                <a th:href="@{/teacher/detail(teaNo=${list.teaNo})}">
                    <h3 th:text="${list.teaName}" class="title"></h3>
                    <p><span th:text="${list.teaIntro}"></span></p>
                </a>
            </div>
        </div>
    </section><section class="wrap">
        <h2 class="title">후기 모아보기 <span class="color-main">톡톡히</span> 보는 선생님</h2>
        <div class="list-box">
            <div th:each="list : ${reviewList}" class="list">
                <a th:href="@{/review/detail(rev_no=${list.rev_no})}">
                    <h3 th:text="${list.rev_name}" class="title"></h3>
                    <p><span th:text="${list.rev_score}"></span></p>
                    <p><span th:text="${list.rev_detail.replace('<br>', '. ')}"></span></p>
                </a>
            </div>
        </div>
    </section>
</main>
<div th:replace="~{footer :: footer}"></div>
</body>
</html>